/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Supermercado One", cursive;
}
/* @font-face {
          font-family: myFirstFont;
          src: url(Font\YeonSung-Regular.ttf);
        } */
*::selection {
  color: #000000;
  background: #00fe6c;
}
html {
  font-size: 1px;
  scroll-behavior: smooth;
}
body {
  /* overflow: overlay; */
  margin: 0;
  padding: 0;
  height: 4000px;
  background-color: #000000;
  z-index: -1;
  display: grid;
  grid-template-areas:
    "navbar"
    "circle"
    "smalldesc";
}
#current_page {
  background-color: black;
}
div {
  display: inline-block;
}
.header {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-image: linear-gradient(to top right, #000000, #d200ff);
  /*background- image: url("1.jpg ");*/
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  /* display: flex;/*
        flex-flow: column wrap;
        align-items: baseline; */
  /* background-color: white; */
}
.navbar {
  grid-area: navbar;
  /* background-color: #000000; */
  /* flex-grow: 3; */
  /* justify-self: center; */
  z-index: 2;
  position: sticky;
  top: 5px;
  margin-top: 0px;
  background-image: linear-gradient(to bottom left, #0066ff, #d81ae4);
  border: black 0px solid;
  height: 70px;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 2px 5px 10px #000000;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  transition: 2s;
  justify-content: space-between;
}
.navbar:hover {
  transition: 2s;
  box-shadow: 0px 0px 10px 10px #ffffff;
  background-image: linear-gradient(to bottom left, #0d99fb, #01fa53);
  /* transform: scaleY(1.5); */
  /* transform: skewY(20deg); */
  /* box-shadow: 0px 0px 25px 20px #0D99FB, 0px 0px 25px 20px #01FA53;  */
}
.navbar a {
  text-decoration: none;
  font-size: 20rem;
  color: white;
  border: black 0px solid;
  padding: 24px 10px 22px 10px;
  /* margin: 0px 0px; */
  /* font-family: 'Supermercado One', cursive; */
  box-shadow: 2px 2px 10px #000000;
  transition: 0.5s;
  border-radius: 10px;
}
.navbar a:hover {
  transition: 0.5s;
  background-color: black;
  box-shadow: 0px 0px 10px 10px #ffffff;
  /* padding: 24px 13px; */
  /* font-size: 21px; */
  position: relative;
  top: 5px;
  left: 5px;
  /* border-radius: 0px; */
}
.navbar a:visited {
  background-image: linear-gradient(to bottom left, #fbd10d, #fa5901);
}
.pagesbox {
  display: inline-block;
  margin: 24px 0px;
}
.searchbar input {
  /* padding: 21px 150px; */
  /* border-radius: 50px; */
  /* box-shadow: 2px 5px 10px #000000; */
  /* text-shadow: 0px 0px 10px 10px #FFFFFF; */
  width: 35em;
  color: white;
  font-size: 20px;
  border: none;
  border-bottom: white 2px solid;
  background: none;
  font-weight: bold;
  /* font-family: 'Supermercado One', cursive; */
}
.searchbar input::placeholder {
  color: white;
}

.searchbar input:focus::placeholder {
  opacity: 0;
}
.searchbar input:focus {
  text-shadow: 0px 0px 10px 10px #ffffff;
  outline-width: 0;
  /* box-shadow: 0px 0px 10px 10px #FFFFFF; */
  /* position: relative;
        top: 5px;
        left: 5px; */
}
.signup {
  /* float: right ;
        margin: 24px 0px;
        display: inline-block; */
}
.signup a {
  text-decoration: none;
  border: black 0px solid;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 22px 11px;
}
.signup a:hover {
  background-color: black;
  transition: 0.2s;
}
.circle {
  grid-area: circle;
  flex-grow: 0;
  align-self: flex-start;
  /* order: 1; */
  flex-shrink: 0;
  order: 0;
  display: flex;
  border: black solid 0px;
  width: 400rem;
  height: 400rem;
  position: relative;
  top: 140px;
  left: 110px;
  /* margin: 180px 0px 0px 70px; */
  border: 15px dashed #ffa10d;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom, #242424, #000000);
  transition: 0.5s;
  box-shadow: 0px 0px 25px 20px #0d5bfb, 0px 0px 25px 20px #fa01f1;
  align-items: center;
  justify-content: center;
}
.circle span {
  font-size: 35rem;
  text-shadow: 2px 2px 20px orange;
  background: -webkit-linear-gradient(#ff0000, #ffffff);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}
.circle:hover {
  transform: rotate(360deg);
  /* background-image: linear-gradient(to top, #242424, #000000); */
  transition: 0.5s;
  border-radius: 1000px;
  cursor: pointer;
  width: 410rem;
  height: 410rem;
  box-shadow: 0px 0px 25px 20px #0d99fb, 0px 0px 25px 20px #01fa53;
}
.circle:hover span {
  /* transform: rotate(360deg); */
  /* display: none; */
  text-shadow: 2px 2px 20px #f000ff;
  background: -webkit-linear-gradient(#3000ff, #dce4ed);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  font-size: 38px;
}
.smalldesc {
  grid-area: smalldesc;
  /* align-self: flex-end; */
  /* order: ; */
  z-index: 1;
  float: right;
  position: absolute;
  top: 180rem;
  left: 650rem;
  width: 51%;
  height: 60vh;
  border: black solid 0px;
  color: white;
  text-shadow: 5px 5px 10px #000000;
  transition: 0.5s;
}
.smalldesc:hover {
  text-shadow: 10px 10px 10px #000000;
  font-size: rem;
  transition: 0.5s;
}
.smalldesc h2 {
  font-size: 50rem;
  color: #ff5603;
  /* transition: 0.5s; */
}
/* .smalldesc:hover h2{
        transition: 0.5s;
        } */
.smalldesc #t1 {
  font-size: 30rem;
  /* transition: 0.5s; */
}
/* .smalldesc:hover #t1{
        transition: 0.5s;
        } */
.smalldesc #sdlt {
  font-size: 50rem;
  color: cyan;
  /* transition: 0.5s; */
}
/* .smalldesc:hover #sdlt{
        transition: 0.5s;
        } */
@media screen {
}
::-webkit-scrollbar {
  width: 12px;
  cursor: hand;
}

::-webkit-scrollbar-track {
  /* background-image: linear-gradient(to top, white, black); */
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(to top, white, black); */
  background-color: white;
  /* border: 5px solid white; */
  border-top: 60px solid black;
  border-bottom: 60px solid black;
  border-right: 6px solid white;
  border-left: 6px solid white;
  border-radius: 10px;
}
